body {
    background-color: white;
}

h1 {
    text-align: center;
    padding: 5%;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

ol {
    margin: 5%;
}

ol li {
    padding: 5px;
    list-style-type: circle;
}

li .points {
    text-align: justify;
    margin: 5% 10%;
    color: black;
    list-style-type: disc;
    padding: 50px;
}

.parrafo {
    padding-top: 200px;
}

p {
    text-align: justify;
    margin: 1% 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(8, 99, 11);
}
  

nav {
    top: 0;
    position: sticky;
}
