body {
    background-color: white;
}

h1 {
    text-align: center;
    padding: 5%;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
    margin: 1% 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(8, 99, 11);
}
  

nav {
    top: 0;
    position: sticky;
}