/* Disposición inicial formato movil */
[class*="col-"] {
    width: 100%;
}

/* Disposición ordenador pantalla pequeña */
@media only screen and (min-width: 769px) {
    .col-1 {width: 10%;}
    .col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-4 {width: 40%;}
    .col-5 {width: 50%;}
    .col-6 {width: 60%;}
    .col-7 {width: 70%;}
    .col-8 {width: 80%;}
    .col-9 {width: 90%;}
    .col-10 {width: 100%;}
  }


.row::after {
    content: "";
    clear: both;
    display: table;
}
  
header {
    height: 40px;
    background-color: black;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

#logo_principal {
    position: absolute;
    margin-top: 0;
    margin-left: 5px;
    width: 40px;
}

#nom_pagina {
    position: absolute;
    margin-top: 5px;
    margin-left: 50px;
    color: white;
    font-size: 25px;
}

#bot_reg {
    position: absolute;
    margin-top: 5px;
    right: 140px;
    padding: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(27, 236, 149);
}

#bot_reg:hover {
    color: black;
    background-color: white;
}

#bot_ini {
    position: absolute;
    margin-top: 5px;
    right: 10px;
    padding: 4px;
    background-color: none;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgb(27, 236, 149);
}

#bot_ini:hover {
    color: black;
    background-color: white;
}

aside {
    top: 40px;
    left: 0;
    background-color: rgb(8, 99, 11);
    font-size: 20px;
    float: left;
    position: fixed;
    height: 100%;
}

aside ul{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

aside .menu {
    float: left;
    width: 100%;
}

aside .menu a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px 0px;
    margin-bottom: 5px;
    color: white;
}

.menu {
    display: inline-block;
}

.link_menu {
    text-decoration: none;
    padding: 0px 5px;
}

aside .menu a:hover {
    background-color: white;
    color: rgb(8, 99, 11);
}

.logos_menu {
    position: absolute;
    margin-top: 0;
    margin-left: 5px;
    width: 35px;
}

aside .links {
    position: fixed;
    bottom: 60px;
    display: inline-block;
    text-align: center;
}

aside .links a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 15px;
    color: white;
    width: 100%;
}

.play {
    position: absolute;
    z-index: 2;
    width: 75%;
    padding: 20px;
    opacity: 0%;
}

.play:hover {
    opacity: 90%;
}
/*
main {
    top: 30px;
    padding: 20px 0px;
    right: 0;
    position: absolute;
    background-color: rgb(27, 236, 149);
    z-index: -1;
}*/


/* Ventana pop-up con sus animaciones*/
.overlay {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.ventana {
    background-color: rgb(8, 99, 11);
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    padding: 20px;
    width: 600px;
    
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;

}

.ventana.active {
    opacity: 1;
    transform: scale(1);
}

#cruz {
    width: 16px;
}

.ventana .bt_cerrar {
    font-size: 16px;
    line-height: 16px;
    float: right;
    text-align: right;
    color: black;
    transition: .3s ease all;
}

.ventana h1 {
    opacity: 0;
}

.ventana.active h1 {
    animation: entradaTitulo .8s ease .4s forwards;
}

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.ventana #form1 {
    padding-bottom: 10px;
    opacity: 0;
}

.ventana.active #form1 {
    animation: entradaFormulario .8s ease .6s forwards;
}

@keyframes entradaFormulario {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ventana #form1 #bot_inicio {
    height: 20px;
    line-height: 20px;
    border: none;
    color:black;
    background: rgb(27, 236, 149);
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease all;
}

.ventana #form1 #bot_inicio:hover {
    background: rgba(27, 236, 149, .5);
}

/*Registrase*/

.main1 {
    top: 30px;
    padding: 20px 0px;
    right: 0;
    position: absolute;
    background-color: rgb(27, 236, 149);
    z-index: -1;
    visibility: visible;
}

.main1.active {
    visibility: hidden;
}

.reg {
    height: 100%;
    top: 25px;
    right: 0;
    height: 100%;
    position: absolute;
    background-color: rgb(27, 236, 149);
    z-index: -1;
    visibility: hidden;
    align-items: center;
    text-align: center;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;

}

.reg.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.reg #tit_form {
    padding-left: 5px;
}

.reg #form2 {
    padding-left: 5px;
    margin-bottom: 12%;
}

.reg .bt_main1 {
    position: absolute;
    top: 25px;
    right: 20px;
    float: right;
    text-align: right;
    color: black;
    transition: .3s ease all;
}

.reg #bt_abrir_ini_reg {
    bottom: 50px;
}

/* Disposición especial del main en pantallas muy largas (alto especial de pantalla) */
@media screen and (min-height:1078px) {
    main {
        height: 100%;
    }
}

#musica_españa {
    padding: 0px 50px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

#musica_novedades {
    padding: 0px 50px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

#musica_clasicos {
    padding: 0px 50px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

/* Disposición ordenador grande (evitar scroll horizontal en pantallas grandes) */
@media screen and (min-width:1290px) {
	
    #musica_españa {
    	overflow-x: hidden;	
    }
    
    #musica_novedades {
    	overflow-x: hidden;	
    }

    #musica_clasicos {
    	overflow-x: hidden;	
    }
}

.cancion {
    width: 150px;
    padding: 20px;
}

.cancion_2 {
    width: 150px;
    padding: 20px;
}

.cancion_3 {
    width: 150px;
    padding: 20px;
}

audio {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0%;
    background-color: black;
}

audio:hover {
    opacity: 70%;
}

.musica {
    width: 150px;
    z-index: 0;
}

.position {
    position: relative;
}

.nombre_cancion {
    position: static;
    text-align: center;
}

h2 {
    margin-left: 8px;
}

footer {
    background-color:black;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#texto_footer {
    color:white;
    text-decoration: none;
}

#texto_footer:hover {
    color: rgb(27, 236, 149);
}

/* Disposición principal tablet y movil */
@media screen and (max-width:768px) {
    
    header {
        height: 75px;
    }

    #logo_principal {
        top: 16px;
    }

    #nom_pagina {
        top: 16px;
    }

    #bot_reg {
        right: 10px;
        top: 35px;
    }

    aside {
        top: 74px;
        height: 50px;
        position: fixed;
        font-size: 15px;
    }
    
     aside ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: sticky;
        top: 0;
    }
      
    aside .menu {
        float: left;
        width: 20%;
    }
    
    aside .menu a {
        display: block;
        text-align: center;
        padding: 15px 0px;
        text-decoration: none;
        height: 20px;
    }

    .logos_menu {
        opacity: 100%;
        width: 30px;
        top: 8px;
    }

    main {
       margin-top: 80px;
       height: unset;
    }

    aside .links {
        position: absolute;
        top: 6px;
        bottom: unset;
        right: 5px;
        width: 20%;
    }

    aside .links a {
        color: white;
        font-size: 10px;
    }
}

/* Disposición movil (pequeños ajustes) */
@media screen and (max-width:600px) {
    .logos_menu {
        opacity: 0;
        width: 0px;
    }

    #nom_pagina {
        font-size: 20px;
    }

    #bot_reg {
        font-size: 12px;
    }

    #bot_ini {
        font-size: 12px;
    }

    #logo_principal {
        width: 30px;
    }

}